.hide {
	display: none;
}
h1 {
	color: blue;
	margin: 0px;
	float:left;
}
.topic {
	font-size: large;
	font-weight: bold;
	color: red;
}
.dia-body button {
	width: 400px;
}
.updatebutton {
	font-size: 1.4em;
	font-weight: bold;
	padding: 10px 30px;
	color: blue;
	border-radius: 20px;
}
.loginbutton {
	color: blue;
}
.alertbutton {
	color: yellow;
	background-color: orangered;
}
#header {
	margin: 5px;
	width: 750px;
	padding: 3px;
}
#info {
	margin: 5px;
	width: 750px;
	padding: 3px;
}
#access {
	color: blue;
}
.description {
	margin: 5px 0px 5px 5px;
	width: 700px;
	padding: 15px;
	border: 10px solid darkorange;
	background-color: papayawhip;
	color: brown;
	border-radius: 20px;
	clear:left;
}

.half {
	width: 500px;
	margin: 5px 5px 5px 100px;
	text-align: center;
	border-radius: 20px;
	border-width: 0px 10px 10px 10px;
	border-style: solid;
	border-color: limegreen;
	padding: 2px;
	background-color: limegreen;
}
.half .title {
	color: white;
	font-size: xx-large;
}
.half div {
	margin: 0px;
	border-radius: 0px 0px 10px 10px;
/*	border: 1px solid darkorange;*/
	background-color: white;
}
.half div button {
	margin: 5px;
	width: 390px;
	border-radius: 10px;
}

.dia {
	width: 500px;
	margin: 5px 5px 5px 100px;
	border-radius: 20px;
	border-width: 0px 10px 10px 10px;
	border-style: solid;
	border-color: limegreen;
	padding: 2px;
	background-color: limegreen;
}

#login {
	clear:left;
}

#update {
	margin: 3px 0px 5px 5px;
	width: 750px;
}

#note-info {
	line-height: 1em;
	word-break: break-all;
	overflow-wrap: break-word;
	border: 1px solid black;
	background-color: aliceblue;
	padding: 3px;
	margin-top: 5px;
}
.span-small {
	margin-left: 10px;
	font-size: xx-small;
	color: blue;
}
#usernote-switch {
	margin-left: 10px;
	font-weight: bold;
}
#usernote-switch:hover + #usernote {
	display: block;
}
#userid {
	color: blue;
}
#usernote {
	background-color: white;
	width: 710px;
	height: 400px;
	margin: 10px;
}

#note-update {
	margin-top: 3px;
	border: 1px solid crimson;
	background-color: cornsilk;
	padding: 3px;
	border-radius: 20px;
}
#note-num {
	width: 100px;
	margin-left: 10px;
}
#note-name {
	width: 720px;
	margin-left: 10px;
	font-size: 24px;
}
#note-mes {
	width: 720px;
	height: 18em;
	margin-left: 10px;
}
#btn-update-div {
	width: 720px;
	height: 4em;
	margin-top: 10px;
	margin-left: 10px;
}

.ad {
	text-align: center;
	background-color: wheat;
	width: 740px;
	margin: 20px 5px 20px 5px;
	padding: 5px;
}
.button-align {
	text-align: right;
	margin-right: 10px;
}
#btn-logout {
	position: relative;
}
#btn-clear {
	position: relative;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;

  margin: 5px 0px 5px 5px;
  width: 700px;
}
